@media all and (max-width:375px) {
  .desktop {
    display: none;
  }
  /* header */
  #header {
    height: 120px;
  }
  #header .top {
    height: 120px;
  }
  #header .wrapper {
    height: 120px;
  }
  #header .top .grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    position: relative;
  }
  #header .top .grp .burgershot {
    display: block;
  }
  #header .top .grp .burgershot a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/UI/hamburger.png) no-repeat center/cover;
  }
  #header .top .grp .searchArea {
    position: absolute;
    top: 70px;
    left: 50%;
    /* width: 100%; */
    width: 80%;
    margin:  0;
    padding: 0;
    transform: translate(-50%,0);
    /* margin: 0 auto; */
  }
  #header .top .grp .searchArea form {
    padding: 0;
    margin: 0;
  }
  #header .top .grp .searchArea .searchbar {
    margin: 0;
  }
  #header .top .grp .searchArea .searchicon {
    margin: 0;
  }
  #header .grp .container-icons {
    flex-grow: 0;
  }
  #header .grp .container-icons .icons {
    flex-grow: 0;
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* gap: 0; */
  }
  #header .grp .container-icons .icons li {
    flex-grow: 0;
  }
  #header .grp .container-icons .icons li:nth-child(2) {
    display: none;
  }
  #header #gnb {
    display: none;
  }

  /* main */
  #main .wrapper {
    padding: 0 16px;
  }
  #main > * {
    width: 100%;
    margin-bottom: 12px;
  }
  #main > *:last-child {
    margin-bottom: 0;
  }
  /* banner */
  #main #banners.mobile {
    display: block;
    /* width: 100%; */
  }
  #main #banners.mobile .banner {
    /* width: 343px; */
    width: 100%;
    height: 111px;
    /* border: 1px dashed black; */
    /* padding: 0 16px; */
    clear: both;
    /* padding-right: 16px; */
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(221,221,221,0.6);
    margin-bottom: 12px;
  }
  #main #banners.mobile .banner:last-child {
    margin-bottom: 0px;
  }
  #main #banners.mobile .banner .pic {
    float: left;
    width: 140px;
    height: 100%;
    /* border: 1px dashed blue; */
    background: url(../images/pattern_grayPlaid.jpg) no-repeat center/cover;
  }
  #main #banners.mobile .banner .title {
    float: left;
    margin: 0;
    width: calc(100% - 140px - 16px);
    height: 100%;
    /* flex-grow: 0.5; */
    /* padding-top: 20px; */
    padding: 34px 14px 14px 14px;
    /* border: 1px dashed blue; */
    font-size: 16px;
    position: relative;
  }
  #main #banners.mobile .banner .title:after {
    content: '';
    background-color: #e6001e;
    text-align: center;
    height: 20px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: normal;
    /* height: 20px; */
    /* line-height: 20px; */
    color: #fbfbfb;
    position: absolute;
    padding: 2px 8px;
    top: 0;
    left: 0;
  }
  #main #banners.mobile .banner .title.campaign:after {
    content: 'campaign';
  }
  #main #banners.mobile .banner .title.special:after {
    content: 'special';
  }


  /* midNav */
  #main #midNav.mobile {
    display: block;
    background: #003894;
  }
  #main #midNav.mobile .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 25px 0;
  }
  #main #midNav.mobile .cards .card {
    width: 44.5%;
    height:64px;
    border-radius: 6px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
  }
  #main #midNav.mobile .cards .card .pic {
    display: block;
    width: 32px;
    height: 32px;
  }
  #main #midNav.mobile .cards .card .info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
  }


  /* news */
  #main #news.mobile {
    display: block;
  }
  #main #news.mobile .container {
    padding: 32px 0;
  }
  #main #news.mobile .container .theme {
    background-color: #F5F5F5;
    margin-bottom: 12px;
  }
  #main #news.mobile .container .theme:last-child {
    margin-bottom: 0;
  }
  #main #news.mobile .container .theme .title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 8px;
    font-size: 24px;
    /* position: relative; */
    /* float: left; */
    clear: both;
  }
  #main #news.mobile .container .theme .title span:before {
    content : '';
    /* position: relative; */
    /* position: absolute; */
    /* left: 0; */
    /* display: inline-block; */
    float: left;
    width: 8px;
    height: 40px;
    margin: 10px 8px 10px 0;
    border-radius: 4px;
    background-color: #003894;
  }
  #main #news.mobile .container .theme .title a {
    content : '';
    float: right;
    width: 24px;
    height: 60px;
    background: url(../images/UI/Property\ 1=Icon\,\ Property\ 2=Chevron-right.png) no-repeat center;
  }
  #main #news.mobile .container .theme .title a:hover {
    opacity: 0.6;
  }
  #main #news.mobile .container .theme li {
    width: 100%;
    height: 60px;
  }
  #main #news.mobile .container .theme li a {
    clear: both;
    display: block;
    width : 100%;
    height: 100%;
    padding: 15px 8px;
  }
  #main #news.mobile .container .theme li a img {
    height: 30px;
    float: left;
    margin-right: 8px;
  }
  #main #news.mobile .container .theme li a .subtitle {
    float: left;
    text-align: left;
    height: 30px;
    line-height: 30px;
  }
  #main #news.mobile .container .theme li a .arrow {
    float: right;
    width: 24px;
    height: 30px;
    background: url(../images/UI/Property\ 1=Icon\,\ Property\ 2=Chevron-right.png) no-repeat center;
  }


  /* guides */
  #guides {
    height: auto;
    background: transparent;
  }
  #guides .wrapper.desktop {
    display: none;
  }
  #guides .mobile {
    display: block;
    /* display: none; */
    padding: 0;
  }
  #guides .mobile .buttons {
    background-color: #ebebeb;
    padding: 0 16px;
  }
  #guides .mobile .buttons a {
    display: block;
    width: 40px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 0 auto;
  }
  #guides .mobile .buttons a img {
    /* display: block; */
    vertical-align: middle;
  }
  #guides .mobile .container {
    background-color: #f5f5f5;
    padding: 0 16px;
  }
  #guides .mobile .container .guide a {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ebebeb;
    clear: both;
  }
  #guides .mobile .container .guide:last-child a {
    border-bottom: none;
  }
  #guides .mobile .container .guide a .info {
    float:left;
  }
  #guides .mobile .container .guide a .arrow {
    float: right;
    width: 24px;
    height: 60px;
    background: url(../images/UI/Property\ 1=Icon\,\ Property\ 2=Chevron-right.png) no-repeat center;
  }


  /* footer */
  #footer .mobile {
    display: block;
  }
  #footer .mobile  .sns {
    /* width: 40.5%; */
    width: 100%;
    padding: 22px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  #footer .mobile  .sns li a {
    display: block;
  }
  #footer .mobile  .sns li a img {
    display: block;
    width: 40px;
    height: 40px;
  }
  #footer .mobile .info {
    /* display: flex; */
    clear: both;
    padding: 22px 0;
    overflow: hidden;
    border-bottom: 1px solid #4D74B4;
  }
  #footer .mobile .info li {
    display: inline;
    padding: 0;
    margin: 0;
  }
  #footer .mobile .info li:after {
    content: '|';
    color: #fff000;
    display: inline;
    margin: 0 8px;
  }
  #footer .mobile .info li:last-child:after {
    content: '';
    margin: 0;
  }
  #footer .mobile .info li a {
    /* display: block; */
    font-size: 14px;
    color: #fff;
  }
  #footer .mobile .container {
    padding: 22px 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
  }
  #footer .mobile .container .license {
    display: block;
    margin-bottom: 18px;
  }
  #footer .mobile .container .copyright {
    display: block;
  }
}