/* @charset "utf-8";

/* default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:focus {
  color: #000;
  text-decoration: none;
}
ul {list-style: none;}
img[alt] {
	font-size: 16px;
}
.wrapper {
	width: 746px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	/* border: 0.1px dashed lawngreen; */
}
.grp {
	width: 100%;
	display: block;
	position: relative;
}
.clear:after {
	content: "";
	display:block;
	clear: both;
}
.hidden {
	position: absolute;
	left: -9999em;
}
.icon {
	border-radius: 50%;
	padding: 8px;
}
.card {
	border-radius: 6px;
	box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
	transition: all 0.3s;
}
.btn {
	border-radius: 50%;
	transition: all 0.3s;
	padding: 3px 20px;
}
.btn:hover, .card:hover {
	opacity: 0.6;
}
.col-cnt01 { width: 100%; }
.col-cnt02 { width: 50%; }
.col-cnt03 { width: 33.33%; }
.col-cnt04 { width: 25%; }
.col-cnt06 { width: 16.66%; }
.col-cnt12 { width: 8.33%; }
.brdr {border: 1px dashed red;}
.brdg {border: 1px dashed green;}
.brdb {border: 1px dashed blue;}


/* web font */
@font-face {
	font-family:'Nanum';
	font-weight:400;
	src: url('font/NanumGothic.eot');
	src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothic.woff') format('woff'),
	 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family:'NanumBold';
	font-weight:600;
	src: url('font/NanumGothicBold.eot');
	src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicBold.woff') format('woff'),
	 url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
	font-family:'NanumEX';
	font-weight:900;
	src: url('font/NanumGothicExtraBold.eot');
	src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicExtraBold.woff') format('woff'),
	 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'webcafeIcon';
	font-weight:400;
	src: url('font/webcafeIcon.eot');
	src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
			 url('font/webcafeIcon.woff') format('woff'),
			 url('font/webcafeIcon.ttf') format('truetype'),
			 url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/* container */
#container {
	font-size: 16px;
	font-family: "Nanum";
	background-color: #fff;
}


/* header */
#header {
	height: 90px;
}
#header .grp {
	height: 50px;
	/* clear: both; */
}
#header .logo {
	width: 150px;
	height: 50px;
	margin-right: 27px;
	border: 1px dashed rgba(0,0,0,0.3);
	position: relative;
	float: left;
}
#header .logo:after {
	content:"Logo";
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: normal;
}
#header .searchArea {
	width: 327px;
	height: 50px;
	margin-right: 48px;
	border: 1px dashed rgba(0,0,0,0.3);
	position: relative;
	float: left;
}
#header .searchArea:after {
	content:"Searchbar";
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: normal;
}
#header .icons {
	width: 194px;
	height: 50px;
	border: 1px dashed rgba(0,0,0,0.3);
	position: relative;
	float: right;
}
#header .icons:after {
	content:"Icons";
	background-color: #fff;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: normal;
}
#header .icons li {
	float: left;
}
#header #gnb {
	width: 100%;
	height: 40px;
	border: 1px dashed rgba(0,0,0,0.3);
}
#header #gnb .mainMenu {
	width: 98%;
	height: 40px;
	margin: 0 auto;
	/* border: 1px dashed red; */
}
#header #gnb .mainMenu > li {
	width: 120px;
	height: 40px;
	float: left;
	text-align : center;
	line-height: 40px;
	font-weight: bold;
	position: relative;
}
#header #gnb .mainMenu > li > a {
	display: block;
}
#header #gnb .mainMenu > li > a:hover {
	background-color: #003894;
	color: #fbfbfb;
}
#header #gnb .mainMenu .submenu {
	position: absolute;
	z-index: 10;
	display: none;
	/* border: 1px solid red; */
}
#header #gnb .mainMenu.active .submenu {
	display: block;
}
#header #gnb .mainMenu .submenu li {
	width: 120px;
	height: 30px;
	line-height: 30px;
	/* border: 1px solid blue; */
}
#header #gnb .mainMenu .submenu li > a {
	display: block;
}
#header #gnb .mainMenu .submenu li > a:hover {
	background-color: #003894;
	color: #fbfbfb;
}
#header .top {
	position: absolute;
	width: 100%;
	height: 90px;
	background: #fff;
	transition: all 0.3s;
	z-index: 1;
	/* border: 1px dashed blue; */
}


/* notices */
#notices {
	background-color: #ebebeb;
	/* border: 1px dashed red; */
}
#notices .alt-letter {
	height: 25px;
	line-height:25px;
	text-align: center;
	color: #e6001e;
	font-weight: bold;
	/* border: 1px dashed blue; */
}


/* banners */
#banners {
	height: 260px;
}
#banners .wrapper {
	height: 260px;
	/* border: 1px dashed red; */
}
#banners .banner {
	width: 174px;
	height: 200px;
	border: 1px solid #eee;
	float: left;
	margin-top: 30px;
	margin-right: 9.5px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	overflow: hidden;
}
#banners .banner:hover {
	opacity: 0.5;
}
#banners .banner:first-child {
	margin-left: 9.5px;
}
#banners .banner .pic {
	width: 174px;
	height: 134px;
	background: url(../images/bookOff.jpg) no-repeat center top;
}
#banners .banner .title {
	position: relative;
	padding: 15px 18px;
}
#banners .banner .title:after {
	content: '';
	padding: 1px 5px;
	background-color: #e6001e;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#banners .banner .title.campaign:after {
	content: 'campaign';
}
#banners .banner .title.special:after {
	content: 'special';
}


/* midNav */
#midNav {
	background-color: #2454a3;
	height: 125px;
}


/* news */
#news {
	height: 204px;
}


/* events */
#events {
	height: 154px;
}


/* special */
#special {
	height: 260px;
}
#special .title span {
	letter-spacing: 0.0375em;
}

/* recommen */
#recommen {
	height: 315px;
	/* border: 1px dashed red; */
}
#recommen .title span {
	/* letter-spacing: -0.0375em; */
	letter-spacing: 0.0375em;
}
#recommen .slider {
	width: 675px;
	height: 180px;
	margin: 20px auto 20px;
	position: relative;
	overflow: hidden;
	/* border: 1px dashed green; */
}
#recommen .slider .imagesets {
	width: calc(675px * 3);
	/* height: 180px; */
	/* border: 1px dashed green; */
}
#recommen .slider .imagesets .image {
	width: 675px;
	margin: 0 auto;
	height: 180px;
	float: left;
	/* text-align: center; */
	/* border: 1px dashed blue; */
}
#recommen .slider .imagesets .image > li {
	width: 105px;
	height: 180px;
	margin: 0 12.5px;
	float: left;
}
#recommen .slider .imagesets .image > li:first-child {
	margin-left: 25px;
}
#recommen .slider .imagesets .image > li:last-child {
	margin-right: 25px;
}
#recommen .slider .imagesets .image > li .pic {
	width: 105px;
	height: 124px;
	background-image: linear-gradient(to right, #2454a3 0%, #547FC7 100%);
}
#recommen .slider .imagesets .image > li .info {
	padding-top: 9px;
	font-size: 12px;
	color: #9a9a9a;
}
.arrows div {
	width: 30px;
	height: 30px;
	line-height: 28px;
	text-align: center;
	font-size: 28px;
	color: #cecece;
	font-weight: 900;
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	/* border: 1px dashed red; */
}
.arrows div:hover {
	color: #003894;
}
.arrows div.prev {
	left: 0;
}
.arrows div.next {
	right: 0;
}
.locations {
	/* border: 1px dashed red; */
	position: absolute;
	left: 50%;
	/* 
		-7px * 2 :  start point + end point
		-11px * n : -11px is a value whose size cotains content, padding, margin.
								n is mutable with quantity of middle of circles
	*/
	margin-left: calc(((-7px * 2) + (-11px * 1)) / 2);
	/* bottom: calc(-11px + -20px) */
	/* bottom: 0; */
}
.locations li {
	float: left;
	padding: 2px;
	cursor: pointer;
	margin: 0 2px;
	/* border: 1px dashed red; */
}
.locations li:first-child {
	margin: 0;
}
.locations li:last-child {
	margin: 0;
}
.locations li span {
	/* display: inline-block; */
	display: block;
	width: 7px;
	height: 7px;
	background-color: #cccccc;
	border-radius: 4px;
}
.locations li.active span {
	background-color: #003894;
}


/* weeklyRank */
#weeklyRank {
	height: 390px;
}
#weeklyRank .title span {
	/* letter-spacing: -0.0375em; */
	letter-spacing: 0.0375em;
}
#weeklyRank .tabs {
	border: 1px dashed red;
	position: relative;
}
#weeklyRank .tabs > li {
	width: 110px;
	height: 30px;
	line-height: 30px;
	float: left;
	text-align: center;
	/* position: relative; */
	border: 1px dashed blue;
}
#weeklyRank .tabs > li > a {
	display: block;
}

#weeklyRank .slider {
	width: 675px;
	height: 180px;
	/* margin: 20px auto 20px; */
	/* margin: 0 auto; */
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: calc(-675px / 2);
	overflow: hidden;
	border: 1px dashed green;
}
#weeklyRank .slider .imagesets {
	width: calc(675px * 3);
	/* height: 180px; */
	/* border: 1px dashed green; */
}
#weeklyRank .slider .imagesets .image {
	width: 675px;
	margin: 0 auto;
	height: 180px;
	float: left;
	/* text-align: center; */
	/* border: 1px dashed blue; */
}
#weeklyRank .slider .imagesets .image > li {
	width: 105px;
	height: 180px;
	margin: 0 12.5px;
	float: left;
}
#weeklyRank .slider .imagesets .image > li:first-child {
	margin-left: 25px;
}
#weeklyRank .slider .imagesets .image > li:last-child {
	margin-right: 25px;
}
#weeklyRank .slider .imagesets .image > li .pic {
	width: 105px;
	height: 124px;
	background-image: linear-gradient(to bottom, #FFF000 0%, #FFF49F 50%, #FFDB1E 100%);
}
#weeklyRank .slider .imagesets .image > li .info {
	padding-top: 9px;
	font-size: 12px;
	color: #9a9a9a;
}

/* recentlyChecked */
#recentlyChecked {
	height: 310px;
}


/* merits */
#merits {
	height: 254px;
}


/* guides */
#guides {
	height: 52px;
	background-color: #ebebeb;
}


/* footer */
#footer {
	height: 175px;
	background-color: #003894;
}