/* @charset "utf-8";

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
default 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  background:#fff;
}
a:link, a:visited {
  color: #000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #003894;
}
ul {list-style: none;}
img[alt] {
	font-size: 16px;
}
input {
  outline: none;
}
.wrapper {
	width: 746px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	/* border: 0.1px dashed lawngreen; */
}
.grp {
	width: 100%;
  background: #fff;
	display: block;
	position: relative;
}
.clear:after {
	content: "";
	display:block;
	clear: both;
}
.hidden {
	position: absolute;
	left: -9999em;
}
.title {
	text-transform: capitalize;
  font-weight: bold;
  margin: 8px 0;
}
.button-regular, .button-icon  {
	display: inline-block;
	/* width: 255px; */
  min-width: 120px;
	height: 40px;
  line-height: 40px;
	border-radius: 20px;
	background-color: #003894;
	cursor: pointer;
	color: #fff;
	/* padding: 12px 24px; */
  padding: 0 8px;
	border: none;
  text-align: center;
}
.button-regular:hover, .button-icon:hover {
	opacity: 0.6;
}
.button-icon {
	position: relative;
  min-width: 90px;
	padding: 0 32px 0 40px;
	background-color: #fff;
  border: 1px solid #003894;
  color: #003894;
}
.button-icon:after {
	content: '';
  box-sizing: border-box;
	position: absolute;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
  z-index: 0;
	background: url(../images/ui/Property\ 1=Icon\,\ Property\ 2=Undefined.png) no-repeat center/cover;
  /* border: 1px dashed green; */
}
.button-icon > img {
	position: absolute;
	left: 8%;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
	height: 24px;
  z-index: 1;
  /* border: 1px dashed red; */
}
.col-cnt01 { width: 100%; }
.col-cnt02 { width: 50%; }
.col-cnt03 { width: 33.33%; }
.col-cnt04 { width: 25%; }
.col-cnt06 { width: 16.66%; }
.col-cnt12 { width: 8.33%; }
.brdr {border: 1px dashed red;}
.brdg {border: 1px dashed green;}
.brdb {border: 1px dashed blue;}
.bg-gray {background: #f5f5f5;}


/* web font */
@font-face {
	font-family:'Nanum';
	font-weight:400;
	src: url('font/NanumGothic.eot');
	src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothic.woff') format('woff'),
	 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family:'NanumBold';
	font-weight:600;
	src: url('font/NanumGothicBold.eot');
	src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicBold.woff') format('woff'),
	 url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
	font-family:'NanumEX';
	font-weight:900;
	src: url('font/NanumGothicExtraBold.eot');
	src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicExtraBold.woff') format('woff'),
	 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'webcafeIcon';
	font-weight:400;
	src: url('font/webcafeIcon.eot');
	src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
			 url('font/webcafeIcon.woff') format('woff'),
			 url('font/webcafeIcon.ttf') format('truetype'),
			 url('font/webcafeIcon.svg#webcaferegular') format('svg');
}
main > .wrapper {
  display: flex;
  /* gap: 30px; */
  gap: 4.02%;
}
input[type=date] {
  position: relative;
}
input[type=date]:before {
  content: 'YY-MM-DD';
  width: 78%;
  height: 21px;
  position: absolute;
  left:0;
  background-color: #fff;
  color: #aaa;
}
input[type=date]:valid:before {
  display: none;
}

/* Color Theme Swatches in Hex */
.Digital-Alphabet-Books-1-hex { color: #113100; }
.Digital-Alphabet-Books-2-hex { color: #406781; }
.Digital-Alphabet-Books-3-hex { color: #906B4C; }
.Digital-Alphabet-Books-4-hex { color: #DE570A; }
.Digital-Alphabet-Books-5-hex { color: #0A0A0F; }

/* Color Theme Swatches in RGBA */
.Digital-Alphabet-Books-1-rgba { color: rgba(17, 49, 0, 1); }
.Digital-Alphabet-Books-2-rgba { color: rgba(63, 103, 128, 1); }
.Digital-Alphabet-Books-3-rgba { color: rgba(144, 107, 75, 1); }
.Digital-Alphabet-Books-4-rgba { color: rgba(221, 86, 10, 1); }
.Digital-Alphabet-Books-5-rgba { color: rgba(10, 10, 14, 1); }

/* Color Theme Swatches in HSLA */
.Digital-Alphabet-Books-1-hsla { color: hsla(99, 100, 9, 1); }
.Digital-Alphabet-Books-2-hsla { color: hsla(203, 33, 37, 1); }
.Digital-Alphabet-Books-3-hsla { color: hsla(27, 30, 43, 1); }
.Digital-Alphabet-Books-4-hsla { color: hsla(21, 91, 45, 1); }
.Digital-Alphabet-Books-5-hsla { color: hsla(240, 19, 4, 1); }


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
container 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#container {
	font-size: 16px;
	font-family: "Nanum";
	background-color: #fff;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
header 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#header {
	height: 90px;
}
#header .top {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translatex(-50%);
	width: 100%;
	height: 90px;
	background: #fff;
	transition: all 0.3s;
  /* box-shadow: 0 1px 4px rgba(0,0,0,0.6); */
	/* border: 1px dashed blue; */
  z-index: 3;
}
#header .top .grp {
	height: 50px;
}
/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
header logo
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#header .logo {
	width: 150px;
	height: 50px;
	margin-right: 27px;
	/* border: 1px dashed rgba(0,0,0,0.3); */
	position: relative;
	float: left;
}
#header .logo img {
  display: block;
  width: 150px;
  height: 35px;
  margin: 7.5px 0;
  object-fit: cover;
  /* border: 1px dashed red; */
}
/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
header searchArea 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#header .searchArea {
	width: 327px;
	height: 50px;
	margin-right: 48px;
	/* border: 1px dashed rgba(0,0,0,0.3); */
	position: relative;
	float: left;
}
#header .searchArea form {
  width: 100%;
  height: 100%;
  /* border: 1px dashed red; */
  text-align: center;
  /* margin: 0 auto; */
}
#header .searchArea .searchbar {
  float:left;
  width: 80%;
  height: 60%;
  margin: 10.4815px 0 10.4815px 21.98px;
  border: 3px solid #003894;
  border-right: none;
  padding-left: 4px;
}
#header .searchArea .searchbar:active {
  border: none;
}
#header .searchArea .searchicon {
  float: left;
  width: 30px;
  height: 60%;
  margin: 10.4815px auto;
  border: 3px solid #003894;
  /* border: 1px dashed blue; */
}
#header .searchArea .searchicon img {
  float: left;
  /* display: block; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
header icons 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#header .icons {
	width: 194px;
	height: 50px;
	/* border: 1px dashed rgba(0,0,0,0.3); */
	position: relative;
	float: right;
}

#header .icons li {
	float: left;
  /* 
  10.4% : 
    total margin : 194px(.icons) - {24px(.icons img) * 3} = 122px
    both margins per each image : 122px / 6 = 20.33...
    ratio of width to margin: 20.33..px / 194px = 10.4810..
  */
  margin: 0 10.4%;
  /*
  54.16% : 
    50(.icons) - 24(.icons img) = 26px
    26px = a rest of margin
    26/2 = top margin + bottom margin = 13px
    13/24 = 13/height of img = 54.16%
  */
  transform: translateY(54.16%);
}
#header .icons li:hover {
  opacity: 0.6;
}
#header .icons li a {
  display: block;
  /* border: 1px solid red; */
}
#header .icons li a img {
  display: block;
  width: 24px;
  height: 24px;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
header gnb 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#header #gnb {
	width: 100%;
	height: 40px;
  background-color: #fff;
	/* border: 1px dashed rgba(0,0,0,0.3); */
}
#header #gnb .mainMenu {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	/* border: 1px dashed red; */
}
#header #gnb .mainMenu > li {
	width: calc(100% / 6);
	height: 40px;
	float: left;
	text-align : center;
	line-height: 40px;
	font-weight: bold;
	position: relative;
	/* border: 1px dashed blue; */
}
#header #gnb .mainMenu > li > a {
	display: block;
}
#header #gnb .mainMenu > li > a:hover {
	background-color: #003894;
	color: #fbfbfb;
}
#header #gnb .mainMenu .submenu {
	position: absolute;
	z-index: 10;
	display: none;
	/* border: 1px solid red; */
}
#header #gnb .mainMenu.active .submenu {
	display: block;
}
#header #gnb .mainMenu .submenu li {
	width: 120px;
	height: 30px;
	line-height: 30px;
	/* border: 1px solid blue; */
}
#header #gnb .mainMenu .submenu li > a {
	display: block;
}
#header #gnb .mainMenu .submenu li > a:hover {
	background-color: #003894;
	color: #fbfbfb;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
notices
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#notices {
	background-color: #ebebeb;
	/* border: 1px dashed red; */
}
#notices .alt-letter {
	height: 25px;
	line-height:25px;
	text-align: center;
	color: #e6001e;
	font-weight: bold;
	/* border: 1px dashed blue; */
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
guides 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#guides {
	height: 52px;
	background-color: #ebebeb;
}
#guides .container {
  float: left;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  /* border: 1px dashed red; */
}
#guides .container .guide {
  width: 100%;
  /* border: 1px dashed blue; */
}
#guides .container .guide a {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 10px;
  /* border: 1px dashed blue; */
}
#guides .container .guide a:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  /* border: 1px dashed green; */
  background: url(../images/UI/Property\ 1=Icon\,\ Property\ 2=Chevron-right.png) no-repeat center/cover;
}
#guides .buttons {
  float: right;
  width: 15%;
  height: 100%;
  line-height: 100%;
  /* border: 1px dashed red; */
  display: flex;
  align-items: center;
  justify-content: right;
}
#guides .buttons a {
  display: inline-block;
  /* border: 1px dashed blue; */
}
#guides .buttons a img {
  /* border: 1px dashed green; */
  display: block;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
footer 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#footer {
	height: 175px;
	background-color: #003894;
}
#footer .sns {
  padding: 18px 0;
  /* border: 1px dashed red; */
  overflow: hidden;
}
#footer .sns > li {
  float: left;
  margin-right: 12px;
  /* border: 1px dashed red; */
}
#footer .sns > li:last-child {
  margin-right: none;
}
#footer .info {
  display: flex;
  flex-wrap : wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding-bottom: 18px;
  /* border: 1px dashed red; */
}
#footer .info li {
  padding: 0 0 9px 0;
}
#footer .info li a {
  display: block;
  color: #fbfbfb;
  font-size: 10px;
}
#footer .info li a:after {
  content: "|";
  display: inline-block;
  padding: 0 9px;
  color: #ffff00;
}
#footer .info li:last-child a:after {
  content: "";
}
#footer .container {
  width: 100%;
  border-top: 1px solid #eee;
  color: #fbfbfb;
  font-size: 10px;
  padding: 14px 0 17px 0;
  /* border: 1px dashed red; */
  overflow: hidden;
}
#footer .container .license {
  width: 65%;
  float: left;
  text-align: left;
  /* border: 1px dashed yellow; */
}
#footer .container .copyright {
  width: 35%;
  float: right;
  text-align: right;
  /* border: 1px dashed yellow; */
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
slider
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
.slide {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	position: relative;
	width: 100%;
  /* height: 100%; */

	/* to stop dragging DOM elements */
	user-select: none;
	/* border: 1px dashed blue; */
}
.slide .slide_item {
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
  left: 0px;
	width: 100%;
	height: 180px;
	/* height: 24.12%; */
	/* height: 57.14%; */
	/* height: 100%; */
	flex-shrink: 0;
	transition: left 0.15s;
	/* border: 1px dashed red; */
}
.slide .slide_item .image {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
  /* border: 1px dashed red; */
}
.slide .slide_item .image > li {
  /* width: 110px; */
  width: 14.74%;
  /* height: 143px; */
  height: 100%;
  display: inline-block;
  /* margin-right: 18px; */
  margin-right: 2.41%;
  /* border: 1px dashed red; */
}
.slide .slide_item .image > li:last-child {
  margin-right: 0;
}
.slide .slide_item .image > li:hover {
  opacity: 0.6;
}
.slide .slide_item .image > li img {
  /* width: 110px; */
  width: 100%;
  /* height: 91px; */
  height: 70%;
  display: block;
  background: white;
  object-fit: cover;
  /* border: 1px dashed blue; */
}
.slide .slide_item .image > li .info {
  /* padding: 8px 0 0 0; */
  padding: 7.27% 0 0 0;
  word-wrap: break-word;
  /* border: 1px dashed green; */
}
.slide .slide_button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 16px);
	width: 32px;
	height: 32px;
	border-radius: 100%;
	color: #003894;
	background-color: white;
	border: 1px solid #003894;
	cursor: pointer;
	/* border: 1px dashed red; */
}
.slide .slide_prev_button {
	left: 10px;
}
.slide .slide_next_button {
  right: 10px;
}
.slide .slide_pagination {
	display: flex;
	gap: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.slide .slide_pagination > li {
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
.slide .slide_pagination > li.active {
  color: #7fb5ff;
}
