@charset "utf-8";

main {
  width: 100%;
  /* border: 1px dashed red; */
}
/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
navi
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #navi {
  width: 140px;
  /* border: 1px dashed red; */
}
main #navi[data-include-file$="nav-06-setBulk.html"] {
  display: none;
}
main #navi .title {
  font-size: 18px;
  padding-top: 10px;
}
main #navi .mainmenu > li {
  padding-top: 10px;
}
main #navi .mainmenu > li > a{
  display: block;
  font-weight: bold;
  font-size: 14px;
  border-top: 2px double #003894;
  border-bottom: 2px double #003894;
  padding: 4px 0;
  word-wrap: break-word;
}
main #navi .mainmenu > li .submenu > li {
  /* text-indent: 1em; */
  padding-left: 1em;
  padding-bottom: 14px;
}
main #navi .mainmenu > li .submenu > li:last-child {
  padding-bottom: 10px;
}
main #navi .mainmenu > li .submenu > li:first-child {
  padding-top: 10px;
}
main #navi .mainmenu > li .submenu > li > a {
  font-size: 12px;
  display: block;
  word-wrap: break-word;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents {
  width: calc(100% - 140px);
  /* border: 1px dashed blue; */
}
main #contents[data-include-file$="/cont-06-setBulk.html"] {
  width: 100%;
}
main #contents .wrapper {
  width: 100%;
  /* border: 1px dashed red; */
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents recommen
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents #recommen {
  height: 280px;
  position: relative;
}
main #contents #recommen:before {
  position: absolute;
  top:0;
  left:0;
  /* border: 1px solid red; */
}
main #contents #recommen .bg-gray {
  width: 200vw;
  height: 100%;
  position: absolute;
  left: -100vw;
  top: -0%;
  /* border: 1px solid blue; */
}
main #contents #recommen .wrapper {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 20px;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents special02
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents #special02 {
  margin-top: 20px;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents events
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents #events {
	/* height: 410px; */
	height: auto;
  margin-bottom: 45px;
}
main #contents #events h1 {
  /* margin-bottom: 20px; */
  margin-bottom: 3.47%;
}
main #contents #events .container {
  /* width: 100%; */
  /* height: 323px; */
  /* height: 78.78%; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13px 13px;
  /* border: 1px dashed red; */
}
main #contents #events .container .event {
  width: 170px;
  height: 65px;
  /* width: 31.24%; */
  /* height: 17.66%; */
  background: linear-gradient(to right, #666 0% , #ebebeb 100%);
}
/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents keywords
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents #keywords {
  /* height: 120px; */
  height: 220px;
}
main #contents #keywords .title {
  margin-bottom: 20px;
}
main #contents #keywords .container {
  height: auto;
}
main #contents #keywords .container .button-regular {
  width:auto;
  background: #fff;
  border: 1px solid #003894;
  color: #003894;
  font-size: 14px;
  margin: 0 5px 10px 0;
}
/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
contents weeklyRank
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
main #contents #weeklyRank {
  height: 310px;
}