@charset "utf-8";



/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
banners
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#banners.desktop {
	height: 260px;
}
#banners.desktop .wrapper {
  height: 100%;
	/* border: 1px dashed red; */
}
#banners.desktop .banner {
	/* width: 174px; */
  width: 23.3%;
	/* height: 200px; */
  height: 76.92%;
	border: 1px solid #eee;
	float: left;
	margin-top: 30px;
	/* margin-right: 9.5px; */
  margin-right: 1.27%;
	/* border-radius: 10px; */
	/* border-radius: 5.74%; */
	box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	overflow: hidden;
}
#banners.desktop .banner:hover {
	opacity: 0.5;
}
#banners.desktop .banner:first-child {
  /* margin-left: 9.5px; */
	margin-left: 1.27%;
}
#banners.desktop .banner .pic {
	/* width: 174px; */
  width: 100%;
	/* height: 134px; */
	height: 67%;
	/* height: 86.77%; */
	background: url(../images/pattern_grayPlaid.jpg) no-repeat center/cover;
  /* background-size: 100% 100%; */
}
#banners.desktop .banner .title {
  font-size: 14px;
	position: relative;
	/* padding: 15px 18px; */
  padding: 10.67% 12.8%;
}
#banners.desktop .banner .title:after {
	content: '';
	/* padding: 1px 5px; */
  padding: 0.711% 3.55%;
	background-color: #e6001e;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#banners.desktop .banner .title.campaign:after {
	content: 'campaign';
}
#banners.desktop .banner .title.special:after {
	content: 'special';
}
#banners.mobile {
  display: none;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
midNav
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#midNav.desktop {
	background-color: #2454a3;
	height: 125px;
}
#midNav.desktop .cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 18px; */
  gap: 2.41%;
  /* border: 1px dashed red; */
}
#midNav.desktop .cards .card {
  /* width: 112px; */
  width: 15.01%;
  /* height: 95px; */
  height: 76%;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  /* border: 1px dashed green; */
}
#midNav.desktop .cards .card:hover {
  opacity: 0.6;
}
#midNav.desktop .cards .card img {
  /* width: 45px; */
  /* height: 45px; */
  width: 41.15%;
  height: 47.36%;
  /* border: 2px solid #003894; */
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#midNav.desktop .cards .card .info {
  /* width: 50px; */
  /* height: 29px; */
  width: 45.73%;
  height: 30.52%;
  font-size: 16px;
  padding: 5px 0 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
#midNav.mobile {
  display: none;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
news 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#news.desktop {
	height: 230px;
}
#news.desktop .container {
  width: 100%;
  height: 100%;
  /* border: 1px dashed red; */
}
#news.desktop .container .theme {
  width: 50%;
  /* height: 100%; */
  float: left;
  /* border: 1px dashed blue; */
  /* padding: 30px 8px 50px 0; */
  padding: 4.02% 1.07% 6.70% 0;
}
#news.desktop .container .theme:before {
  content: "";
  float: left;
  width: 4px;
  /* height: 24px; */
  height: 15.99%;
  background-color: #003894;
  border-radius: 2px;
  /* margin-right: 7px; */
  margin-right: 1.87%;
}
#news.desktop .container .theme .title {
  /* border: 1px dashed red; */
  display: inline-block;
  /* margin-bottom: 22px; */
  margin-bottom: 5.89%;
}
#news.desktop .container .theme li {
  border-top : 1px solid #ebebeb;
  border-bottom : 1px solid #ebebeb;
  overflow: hidden;
  /* border: 1px dashed blue; */
}
#news.desktop .container .theme li:hover {
  opacity: 0.6;
}
#news.desktop .container .latest li {
  /* padding: 21.5px 0; */
  padding: 5.76% 0;
}
#news.desktop .container .hits li {
  /* padding: 11px 0; */
  padding: 2.94% 0;
}
#news.desktop .container .theme li img {
  /* display: block; */
  height: 24px;
  float: left;
  margin-right: 8px;
  /* border: 1px dashed blue; */
}
#news.desktop .container .theme li .subtitle {
  /* display: block; */
  width: 88%;
  height: 24px;
  line-height: 24px;
  float: left;
  /* border: 1px dashed blue; */
}
#news.desktop .container .theme li .arrow:before {
  content:">";
  /* display: block; */
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  float: right;
  /* border: 1px dashed blue; */
}
#news.mobile {
  display: none;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
events 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#events.desktop {
	/* height: 150px; */
	height: auto;
  margin-bottom: 45px;
}
#events.desktop .container {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 13px;
  /* border: 1px dashed red; */
}
#events.desktop .container .event {
  width: 230px;
  height: 40px;
  /* width: 30.83%; */
  /* height: 26.66%; */
  background: linear-gradient(to right, #666 0% , #ebebeb 100%);
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
special 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
[id ^= "special"].desktop {
	height: 255px;
  /* border: 1px dashed red; */
}
[id ^= "special"].desktop h1  {
  /* margin-bottom: 20px; */
  margin-bottom: 2.68%;
}
[id ^= "special"].desktop h1 span {
	letter-spacing: 0.0375em;
}
[id ^= "special"].desktop .container {
  width: 100%;
  height: 100%;
  padding: 0 2%;
  position: relative;
  overflow: hidden;
  /* border: 1px dashed red; */
}
[id ^= "special"].desktop .container > li {
  /* width: 110px; */
  /* height: 150px; */
  width: 14.74%;
  height: 58.82%;
  float: left;
  margin-right: 10px;
  /* border: 1px dashed red; */
}
[id ^= "special"].desktop .container > li:last-child {
  margin-right: 0;
}
[id ^= "special"].desktop .container > li img {
  width: 100%;
  /* height: 110px; */
  height: 73.33%
  /* border: 1px dashed blue; */
}
[id ^= "special"].desktop .container > li .info {
  height: calc(100% - 73.33%);
  word-wrap: break-word;
  /* border: 1px dashed blue; */
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
recommen
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#recommen.desktop {
	height: 315px;
	/* border: 1px dashed red; */
}
#recommen.desktop h1 {
  /* margin-bottom: 20px; */
  margin-bottom: 2.68%;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
weeklyRank 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#weeklyRank.desktop {
	height: 385px;
	/* border: 1px dashed red; */
}
#weeklyRank.desktop h1 {
  /* margin-bottom: 20px; */
  margin-bottom: 2.68%;
}
#weeklyRank.desktop .maintab {
  position: relative;
	/* border: 1px dashed red; */
  /* overflow: hidden; */
}
#weeklyRank.desktop .maintab .submenu {
  float: left;
	/* border: 1px dashed blue; */
}
#weeklyRank.desktop .maintab .submenu a {
  color: #aaa;
}
#weeklyRank.desktop .maintab .submenu.active a {
  color: #003894;
}
#weeklyRank.desktop .maintab .submenu > a {
  display: inline-block;
  padding: 4px 8px;
  font-weight: bold;
  position: relative;
	/* border: 1px dashed blue; */
}
#weeklyRank.desktop .maintab .submenu:hover > a:after {
  content: '';
  width: 80%;
  height: 2px;
  background-color: #003894;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#weeklyRank.desktop .maintab .submenu .slide {
  position: absolute;
  background-color: white;
  left:0;
  /* top:28px; */
  /* margin-top: 20px; */
	/* overflow: visible; */
  border-top: 2px solid #eee;
	/* border: 1px dashed green; */
  z-index: 1;
}
#weeklyRank.desktop .maintab .submenu.active .slide {
  z-index: 2;

}
#weeklyRank.desktop .maintab .submenu .slide .slide_item {
	align-items: start;
  height: 210px;
}
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li {
	/* border: 1px dashed red; */
  width: 123px;
  height: 181px;
}
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li .rank {
  overflow:hidden;
  text-align: left;
  /* border: 1px dashed blue; */
}
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li .rank img {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 4px;
	/* border: 1px dashed green; */
  display: none; 
}
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li .rank img.reword {
  display:block;
}
/* 
#weeklyRank .slide .slide_item:first-child .image > li:nth-child(n):nth-child(-n+3) .rank img {
	border: 1px dashed red;
  display: block;
}
 */
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li .rank span {
  float: left;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
	/* border: 1px dashed green; */
}
#weeklyRank.desktop .maintab .submenu .slide .slide_item .image > li .pic {
  width: 100%;
  height: 124px;
}
#weeklyRank.mobile {
  display: none;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
recentlyChecked 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#recentlyChecked.desktop {
	height: 318px;
}
#recentlyChecked.desktop h1 {
  /* margin-bottom: 20px; */
  margin-bottom: 2.68%;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
merits 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#merits.desktop {
	height: 254px;
}
#merits.desktop .title {
  margin-bottom: 20px;
}
#merits.desktop .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom :30px;
  /* border: 1px dashed red; */
}
#merits.desktop .container .infoEntity {
  width: 33%;
  display: flex;
  /* border: 1px dashed blue; */
}
#merits.desktop .container .infoEntity .icon {
  width: 28%;
  height: 70px;
  background: #f5f5f5;
  /* border: 1px dashed black; */
}
#merits.desktop .container .infoEntity .icon img {
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 10% auto;
}
#merits.desktop .container .infoEntity .content {
  width: 100%;
  height: 70px;
  /* line-height: 70px; */
  padding-right: 10%;
  /* border: 1px dashed black; */
  background: linear-gradient(to right, #f5f5f5 0%, #ffffff 90%);
  font-size: 14px;
  overflow: hidden;
  word-wrap: break-word;
  padding-top: 3%;
  padding-bottom: 3%;
}
#merits.desktop .buttons {
  text-align: center;
}
#merits.desktop .buttons .button-icon {
  border: none;
  background-color: #003894;
  color: #fff;
}