@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:focus {
  color: #000;
  text-decoration: none;
}
ul {list-style: none;}
img[alt] {
	font-size: 16px;
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
notices
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#notices {
	background-color: #ebebeb;
	/* border: 1px dashed red; */
}
#notices .alt-letter {
	height: 25px;
	line-height:25px;
	text-align: center;
	color: #e6001e;
	font-weight: bold;
	/* border: 1px dashed blue; */
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
banners
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#banners {
	height: 260px;
}
#banners .wrapper {
	height: 260px;
	/* border: 1px dashed red; */
}
#banners .banner {
	width: 174px;
	height: 200px;
	border: 1px solid #eee;
	float: left;
	margin-top: 30px;
	margin-right: 9.5px;
	border-radius: 10px;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
	overflow: hidden;
}
#banners .banner:hover {
	opacity: 0.5;
}
#banners .banner:first-child {
	margin-left: 9.5px;
}
#banners .banner .pic {
	width: 174px;
	height: 134px;
	background: url(../images/bookOff.jpg) no-repeat center top;
}
#banners .banner .title {
	position: relative;
	padding: 15px 18px;
}
#banners .banner .title:after {
	content: '';
	padding: 1px 5px;
	background-color: #e6001e;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}
#banners .banner .title.campaign:after {
	content: 'campaign';
}
#banners .banner .title.special:after {
	content: 'special';
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
midNav
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#midNav {
	background-color: #2454a3;
	height: 125px;
}
#midNav .cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  /* border: 1px dashed red; */
}
#midNav .cards .card {
  width: 112px;
  height: 95px;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  /* border: 1px dashed green; */
}
#midNav .cards .card:hover {
  opacity: 0.6;
}
#midNav .cards .card img {
  width: 45px;
  height: 38px;
  border: 2px solid #003894;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
#midNav .cards .card .info {
  width: 50px;
  height: 29px;
  font-size: 12px;
  padding: 5px 0 0 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
news 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#news {
	height: 230px;
}
#news .container {
  width: 100%;
  height: 100%;
  /* border: 1px dashed red; */
}
#news .container .theme {
  width: 50%;
  height: 100%;
  float: left;
  /* border: 1px dashed blue; */
  padding: 30px 8px 50px 0;
}
#news .container .theme:before {
  content: "";
  float: left;
  width: 4px;
  height: 24px;
  background-color: #003894;
  border-radius: 2px;
  margin-right: 7px;
}
#news .container .theme .title {
  /* border: 1px dashed red; */
  display: inline-block;
  margin-bottom: 22px;
}
#news .container .theme li {
  border-top : 1px solid #ebebeb;
  border-bottom : 1px solid #ebebeb;
  overflow: hidden;
  /* border: 1px dashed blue; */
}
#news .container .theme li:hover {
  opacity: 0.6;
}
#news .container .latest li {
  padding: 21.5px 0;
}
#news .container .hits li {
  padding: 11px 0;
}
#news .container .theme li img {
  /* display: block; */
  height: 24px;
  float: left;
  margin-right: 8px;
  /* border: 1px dashed blue; */
}
#news .container .theme li .subtitle {
  /* display: block; */
  width: 88%;
  height: 24px;
  line-height: 24px;
  float: left;
  /* border: 1px dashed blue; */
}
#news .container .theme li .arrow:before {
  content:">";
  /* display: block; */
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  float: right;
  /* border: 1px dashed blue; */
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
events 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#events {
	height: 150px;
}
#events .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 13px;
  /* border: 1px dashed red; */
}
#events .container .event {
  max-width: 100%;
  width: 230px;
  height: 40px;
  background: linear-gradient(to right, #666 0% , #ebebeb 100%);
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
special 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#special {
	height: 255px;
  /* border: 1px dashed red; */
}
#special .title span {
	letter-spacing: 0.0375em;
}
#special .container {
  margin-top: 20px;
  padding: 0 2%;
  position: relative;
  overflow: hidden;
  /* border: 1px dashed red; */
}
#special .container > li {
  width: 110px;
  height: 150px;
  float: left;
  margin-right: 10px;
  /* border: 1px dashed red; */
}
#special .container > li:last-child {
  margin-right: 0;
}
#special .container > li img {
  width: 100%;
  height: 110px;
  /* border: 1px dashed blue; */
}
#special .container > li .info {
  width: 100%;
  height: 40px;
  /* border: 1px dashed blue; */
}
#special .container > li .info span {
  font-size: 12px;
  word-wrap: break-word;
  
}

/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
recommen
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#recommen {
	height: 315px;
	/* border: 1px dashed red; */
}
#recommen .wrapper {
	background-color: transparent;
	/* border: 1px dashed blue; */
}
#recommen .slide {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
	position: relative;
	width: 100%;

	/* to stop dragging DOM elements */
	/* user-select: none; */
	/* border: 1px dashed blue; */
}
#recommen .slide .slide_item {
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
  left: 0px;
	width: 100%;
	height: 180px;
	flex-shrink: 0;
	transition: left 0.15s;
	/* border: 1px dashed red; */
}
#recommen .slide .slide_item .image {
  background: transparent;
  /* border: 1px dashed red; */
}
#recommen .slide .slide_item .image > li {
  width: 110px;
  height: 143px;
  display: inline-block;
  margin-right: 18px;
  /* border: 1px dashed blue; */
}
#recommen .slide .slide_item .image > li:last-child {
  margin-right: 0;
}
#recommen .slide .slide_item .image > li:hover {
  opacity: 0.6;
}
#recommen .slide .slide_item .image > li img {
  width: 110px;
  height: 91px;
  display: block;
  background: url(../images/alphabet_sequence.png) no-repeat;
  /* border: 1px dashed green; */
}
#recommen .slide .item1 .image > li img {
  background-size: 670% 590%;
  background-position: -19px -21px;
}
#recommen .slide .item2 .image > li img {
  background-size: 670% 590%;
  background-position: -137px -21px;
}
#recommen .slide .item3 .image > li img {
  background-size: 670% 590%;
  background-position: -255px -21px;
}
#recommen .slide .slide_button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(50% - 16px);
	width: 32px;
	height: 32px;
	border-radius: 100%;
	color: #003894;
	background-color: white;
	border: 1px solid #003894;
	cursor: pointer;
	/* border: 1px dashed red; */
}
#recommen .slide .slide_prev_button {
	left: 10px;
}
#recommen .slide .slide_next_button {
  right: 10px;
}
#recommen .slide .slide_pagination {
	display: flex;
	gap: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
#recommen .slide .slide_pagination > li {
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}
#recommen .slide .slide_pagination > li.active {
  color: #7fb5ff;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
weeklyRank 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#weeklyRank {
	height: 385px;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
recentlyChecked 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#recentlyChecked {
	height: 318px;
}


/* 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
merits 
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/
#merits {
	height: 254px;
}