@charset "utf-8";

/* default */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a:link, a:visited, a:hover, a:focus {
  color: #000;
  text-decoration: none;
}
ul {list-style: none;}
img[alt] {
	font-size: 16px;
}
.wrapper {
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	border: 1px dashed lawngreen;
}
.grp {
	width: 100%;
	display: block;
	position: relative;
}
.clear:after {
	content: "";
	display:block;
	clear: both;
}
.hidden {
	position: absolute;
	left: -9999em;
}
.icon {
	border-radius: 50%;
	padding: 8px;
}
.card {
	border-radius: 6px;
	box-shadow: 2px 1px 4px rgba(0,0,0,0.2);
	transition: all 0.3s;
}
.btn {
	border-radius: 50%;
	transition: all 0.3s;
	padding: 3px 20px;
}
.btn:hover, .card:hover {
	opacity: 0.6;
}
.col-cnt01 { width: 100%; }
.col-cnt02 { width: 50%; }
.col-cnt03 { width: 33.33%; }
.col-cnt04 { width: 25%; }
.col-cnt06 { width: 16.66%; }
.col-cnt12 { width: 8.33%; }
.brdr {border: 1px dashed red;}
.brdg {border: 1px dashed green;}
.brdb {border: 1px dashed blue;}


/* web font */
@font-face {
	font-family:'Nanum';
	font-weight:400;
	src: url('font/NanumGothic.eot');
	src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothic.woff') format('woff'),
	 url('font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family:'NanumBold';
	font-weight:600;
	src: url('font/NanumGothicBold.eot');
	src: url('font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicBold.woff') format('woff'),
	 url('font/NanumGothicBold.ttf') format('truetype');
}
@font-face {
	font-family:'NanumEX';
	font-weight:900;
	src: url('font/NanumGothicExtraBold.eot');
	src: url('font/NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),
			 url('font/NanumGothicExtraBold.woff') format('woff'),
	 url('font/NanumGothicExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'webcafeIcon';
	font-weight:400;
	src: url('font/webcafeIcon.eot');
	src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'),
			 url('font/webcafeIcon.woff') format('woff'),
			 url('font/webcafeIcon.ttf') format('truetype'),
			 url('font/webcafeIcon.svg#webcaferegular') format('svg');
}

/* container */
#container {
	font-size: 16px;
	font-family: "Nanum";
	background-color: #fafafa;
}


/* header */
#header {
	height: 90px;
}
#header .logo {
	width: 164px;
	height: 40px;
	
}


/* notices */
#notices {
	background-color: #ebebeb;
	height: 30px;
}

/* banners */
#banners {
	height: 252px;
}

/* midNav */
#midNav {
	background-color: #2454a3;
	height: 125px;
}

/* news */
#news {
	height: 204px;
}


/* events */
#events {
	height: 154px;
}

/* special */
#special {
	height: 260px;
}


/* recommen */
#recommen {
	height: 315px;
}


/* weeklyRank */
#weeklyRank {
	height: 365px;
}


/* recentlyChecked */
#recentlyChecked {
	height: 310px;
}


/* merits */
#merits {
	height: 254px;
}



/* guides */
#guides {
	height: 52px;
	background-color: #ebebeb;
}


/* footer */
#footer {
	height: 175px;
	background-color: #003894;
}
